/**
* 
* style.css
* @author - Lameen
* @date - 02/04/2023
**/

.row {
    display: flex;
    flex-direction: row;
}
.icon-box {
    background-color: #F5F5F5;
    border-radius: 7px;
    width: 40px;
    height: 40px;
    margin: 13px 20px 0 0;
}
/* .icon-box-1 {
    background-color: #F5F5F5;
    border-radius: 7px;
    width: 40px;
    height: 40px;
    margin: 13px 0 0 0;  
} */
.day-box {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 7px;
    width: 42px;
    height: 35px;
    margin: 15px 21px 15px 0;
}
.label-calender {
    margin: 27px 27px 0 0;
}
.calender-icon {
    margin: 14px 12px;
}
.label-day {
    margin: 11px 0 0 0;
}
.status-box {
    /* width: 75px; */
    height: 40px;
    display: inline-flex;
    background-color: #F5F5F5;
    border-radius: 7px;
    margin: 14px 40px 0px 0px;
    padding: 0px 10px;
}
.label-status {
    margin: 13px 0 0 0;
}
.status-report {
    height: 40px;
    display: inline-flex;
    background-color: #F5F5F5;
    border-radius: 7px;
    margin: 14px 16px 0px 0px;
    padding: 0px 8px; 
}
.mr-20 {
    margin-right: 20px;
}