/**
* 
* style.css
* @author - Lameen
* @date - 06/04/2023
**/

.progress-bar {
    width: 293px;
    height: 9px;
    margin: 20px 21px;
    border-radius: 10px;
    background-color: #f4f6f8;
}
.range {
    height: 9px;
    border-radius: 10px;
}