.App {
  text-align: center;
}
.row {
  display: flex;
  flex-direction: row;
}
.cell-1 {
  flex: 1;
}
.cell-w220 {
  width: 220px;
}
.cell-w1129 {
  width: 1129px;
}
.inspection-box {
  background-color: #F5F5F5;
}
.column {
  display: flex;
  flex-direction: column;
}