body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Arial', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Arial',
    monospace;
}

header {
  background-color: #f2b22a;
  color: #000;
  /* height: 64px; */
}
.row {
  display: flex;
  flex-direction: row;
}
.cell-1 {
  flex: 1;
}
.column {
  display: flex;
  flex-direction: column;
}
.t-center {
  text-align: center;
}
.h-center {
  display: flex;
  justify-content: center;
}
.v-center {
  display: flex;
  align-items: center;
}
.vh-center {
  display: flex;
  align-items: center;
  justify-content: center;
}